.App {
  display: flex;
}

.App-header {
  background-color: hsl(266, 34%, 18%);
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Socials {
  position: absolute;
  right: 0;
  justify-content: center;
  align-items: center;
}

.Socials-Buttons {
  margin-right: 7px;
  margin-left: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Notification {
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;  
  background-color: lightcyan;
  margin: 5px;
  border-radius: 10px;
  
}

.Error {
  background-color: rgba(255, 0, 34, .8);
  padding-left: 10px;
}

.Success {
  background-color: rgba(4, 255, 0, .8);
  padding-left: 10px;
}

.Info {
  background-color: rgba(229, 255, 0, .8);
  padding-left: 10px;
}

.Alert {
  background-color: rgba(128, 249, 255, .8);
  padding-left: 10px;
}